/* 
 * ACF "repeat-horizontal" class, display repeaters in horizontal columns 
 */
 .repeat-horizontal .acf-repeater tbody {
    display: grid;
    gap: 1rem;
    grid-template-columns: 332px 332px 332px 332px;
}

 .repeat-horizontal-5 .acf-repeater tbody {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
}